@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Montserrat:wght@300;800&display=swap');
.App {
  text-align: center;
  background-color: var(--light-grayish-cyan-bg);
  font-size: 15px;
}
:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-ft: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

.App-header {
  background-color: var(--dark-cyan);
  width: 100%;
}

.header-bg {
  width: 100%;
  height: 6rem;
  opacity: 0.5;
}

.main {
  width: 80%;
  margin: 2rem auto;
}

.job-list-wrapper {
  background-color: white;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.job-list-wrapper,
.company-new-featured,
.left,
.right,
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.company-new-featured,
.position {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}
.company {
  color: var(--dark-cyan);
}
.new,
.featured {
  color: white;
  background-color: var(--dark-cyan);
  margin: auto;
  padding: 0.16rem 0.5rem 0.025rem 0.5rem;
  border-radius: 16px;
  text-transform: uppercase;
}
.featured {
  background-color: black;
}
.description {
  display: flex;
  /* margin: 0; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 0; */
}

.company-new-featured,
.position,
.details {
  line-height: normal;
  margin: 0 0.5rem;
}

.details {
  font-family: 'League Spartan', sans-serif;
  font-weight: 500;
  color: var(--dark-grayish-cyan);
}
.role,
.level,
.language {
  color: var(--dark-cyan);
  background-color: var(--light-grayish-cyan-bg);
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}
